body {
  background-color: #141414;
  text-align: center;
}

.demon{
color: #FFBD69;

}

.slayer{
color: #C40018;
}

.corps{
  color: #2666CF;
}


h1 {
  font-family: 'League Gothic', sans-serif;
  font-style: italic;
  padding-bottom: 15px;
  font-size: 5rem;
  color: #EEEDDE;
}

h2 {
  font-family: 'League Gothic', sans-serif;
  font-style: italic;
  font-size: 3rem;
  padding-top: 20px;
  padding-bottom: 10px;
}

.zen {
  color: #FFBD69;
}

.tanj {
  color: #C40018;
}

.inos {
  color: #2666CF;
}

h3 {
  color: #040303;
  padding-bottom: 30px;
  font-family: 'League Gothic', sans-serif;
  font-style: italic;
  font-size: 3.5rem;
  letter-spacing: 1px;
}

.carousel-item {
  height: auto;
  width: auto;
}

#contacts {
  background-color: #461111;
  padding: 2.2% 20% 1%;
  margin-bottom: 0;
}

.contact-icons {
  padding-left: 30px;
  font-size: 2rem;
}

#intro {
  padding: 2.2% 20% 1%;
}

.zen-intro {
  color: #D9D9D9;
  padding-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.copyright {
  padding-top: 50px;
  color: #040303;
  font-weight: bold;
  font-size: 1.2rem
}

.characters {
  border-radius: 100%;
  padding-bottom: 50px;
}
